@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";

html,
body {
  height: 100%;
}


#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #343a40;
}

.footer p {
  padding-top: 20px;
  color: #ffffff;
}

.blog-post{
  margin: 50px auto;
  width: 70%;
}

.blog-post img{
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.blog-heading{
  font-size: 36px;
  text-align: center;
  margin-bottom: 25px;
}

.blog-content{
  text-decoration: lavender;
  padding-top: 20px;
}

.blog-list{
  margin-top: 50px;
  min-height: 70vh;
}

.author, .date{
  margin: 5px 0px; 
}
.author{

}
.date{
  color: #949494;
}
#blog{
  margin: 20px 0px;
  padding: 25px;
  color: #343a40;
  border-radius: 8px;
}

#blog:hover{
  text-decoration: none;
  background-color: beige;
}

#blog img{
  border-radius: 8px;
}
#blog p{
  margin: 0px;
  padding: 10px 10px;

}

#blog h3{
  font-size: 22px;
  line-height: 30px;
  padding: 10px;
  margin: 0px;
}

