{% extends 'base.html' %} {% block content %}
<div id="blog_list" class="container">
  {% for blog in blogs %}
  <div class="jumbotron">
    <h1 class="display-4">{{blog.title}}</h1>
    <p class="lead">{{blog.content}}</p>
    <hr class="my-4" />
    <p>by {{blog.author}}</p>
    <p class="lead">
      <a
        class="btn btn-primary btn-lg"
        href="{% url 'blog_post' blog.slug %}"
        role="button"
        >Learn more</a
      >
    </p>
  </div>
  {% endfor %} {% if is_paginated %} {% include "includes/pagination.html" %} {%
  endif %}
</div>
{% endblock %}
